{% extends 'main.html'%}

{% block content %}
    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>

    <div class="home-container">
        <div>
            <h3>Browse Topics</h3>
            <hr>
            <div>
                <a href = "{% url 'home' %}">All</a>
            </div>
            {% for topic in topics %}
                <div>
                    <a href = "{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
                </div>
            {% endfor %}
        </div>
            <h5>{{room_count}} Rooms available</h5>
            <div>
                <a href="{% url 'createRoom' %}">Create Room</a>
            <div>

                {% for room in rooms %}

                    <div>
                        <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
                        <!--print the number of messages in each rooom found in room_messages[room.id]-->
                        <!--TODO-->
                        
                        <a href="{% url 'updateRoom' room.id %}">Edit</a>
                        <a href="{% url 'deleteRoom' room.id %}">Delete</a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div> 
{% endblock %}

